.project
.settings
build.log
build-log.xml
**/*.iml
**/.project
**/.settings
**/.classpath
**/bin
**/gen
**/gen-external-apklibs
**/target
**/run
**/proguard_logs
**/git_properties

/filecache/development.conf
