<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
	<head profile="http://gmpg.org/xfn/11">
		<title>HOCCER XO</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<link type="text/css" rel="stylesheet" href="style.css" media="screen" />
	</head>
	<body>
		<div id="main">
			<p>Hey, you've got an invitation to HOCCER XO. Just download the app and accept this invite.</p>
			<a class="button" id="download" href="${downloadLink}">Download App</a>
			<a class="button" id="pairing" href="">Accept Invite</a>
		</div>
	</body>
</html>
