<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
    <title>${messages.invitationTitle}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/static/invite.css" media="screen" />
</head>
<body>
<div id="main">
    <p>${messages.invitationText}</p>

    <a class="button" id="download" href="${downloadLink}">${messages.invitationButtonDownload}</a>
    <a class="button" id="pairing" href="${inviteLink}">${messages.invitationButtonAccept}</a>
</div>
</body>
</html>
