<?xml version="1.0" encoding="utf-8"?>
<!-- NOTE: package name and ${placeholders} are replaced by gradle -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.artcom.hoccer">

    <application>

        <activity
                android:name="com.hoccer.xo.android.activity.ChatsActivity"
                android:label="${app.name.short}"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustPan">

            <!-- Show in launcher -->
            <intent-filter android:label="${app.name}" tools:node="remove">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="${hoccer.invitation.uri.scheme}${hoccer.invitation.uri.suffix}"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.hoccer.xo.android.uniheld.activity.ChatsActivity"
                android:label="${app.name.short}"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:windowSoftInputMode="adjustPan">

            <!-- Show in launcher -->
            <intent-filter android:label="${app.name}">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="${hoccer.invitation.uri.scheme}${hoccer.invitation.uri.suffix}"/>
            </intent-filter>
        </activity>


    </application>

</manifest>
