<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.hoccer.xo.android.activity.StudentCardActivity"
            android:label="@string/title_activity_student_card"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
